{% extends "vota/extends.html" %}

{% block content %}
<div id="fullscreen_bg" class="fullscreen_bg"/>

<div class="container">

	<h1>{{ consulta.titol }}</h1>

	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

	<form action="{% url 'vota:vote' consulta.id %}" method="post">
		<fieldset>
			<div class="form-group">
				{% csrf_token %}
				{% for choice in consulta.opcio_set.all %}
				<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
				<label for="choice{{ forloop.counter }}">{{ choice.text }}</label><br />
				{% endfor %}
				<input type="submit" value="Vote" />
			</div>
		</fieldset>
	</form>

</div>
{% endblock %}